<mat-card class="mat-elevation-z8 container">
  <h2>{{ user?.username }}, bienvenue dans votre compte utilisateur !</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <!-- Username -->
      <mat-form-field>
        <mat-label>Pseudo</mat-label>
        <input matInput formControlName="username" />
        <mat-error
          *ngIf="
            userForm.get('username')?.invalid &&
            userForm.get('username')?.touched
          "
        >
          Le pseudo est requis.
        </mat-error>
      </mat-form-field>

      <!-- First Name -->
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="firstname" />
        <mat-error
          *ngIf="
            userForm.get('firstname')?.invalid &&
            userForm.get('firstname')?.touched
          "
        >
          Le prénom est requis.
        </mat-error>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput formControlName="lastname" />
        <mat-error
          *ngIf="
            userForm.get('lastname')?.invalid &&
            userForm.get('lastname')?.touched
          "
        >
          Le nom est requis.
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error
          *ngIf="
            userForm.get('email')?.invalid && userForm.get('email')?.touched
          "
        >
          Une adresse mail est requise.
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="userForm.get('password')?.hasError('required')">
          Le mot de passe est requis.
        </mat-error>
        <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
          Le mot de passe doit comporter au moins 8 caractères.
        </mat-error>
      </mat-form-field>

      <!-- Address -->
      <mat-form-field>
        <mat-label>Adresses</mat-label>
        <select>
          <option *ngFor="let address of addresses" [value]="address.id">
            {{ address.title ?? address.city }}
          </option>
        </select>
      </mat-form-field>
      <button (click)="goToAddressForm()"><mat-icon>add</mat-icon></button>
    </mat-card-content>

    <mat-card-actions class="button-row">
      <button mat-raised-button color="accent" (click)="goBack()">
        Retour
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Valider
      </button>
      <button mat-raised-button class="reset-profil-form" (click)="onReset()">
        Réinitialiser
      </button>
    </mat-card-actions>
  </form>
</mat-card>
