.container {
  position: relative;
  top: 7.7rem;
  height: calc(100% - 7.7rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field {
  width: 77.7%;
  margin-bottom: 1.11rem;
}

.mat-form-field label {
  display: block;
  font-weight: 600;
}

.mat-form-field input,
.mat-form-field select {
  width: 100%;
  border-radius: 7.7rem;
  font-size: 1.11rem;
}

.mat-form-field  {
  width: 100%;
  min-height: 100px;
  border-radius: 7.7rem;
  font-size: 1.11rem;
}

.mat-card-actions button {
  padding: 0.77rem 1.4rem;
  font-size: 1.11rem;
  margin: 1.11rem;
}

.address-group {
  display: flex;
  flex-wrap: wrap;
}

.goBack-button {
  color: white;
  background-color: #e2004b;
}

.goBack-button:hover {
  color: white;
  background-color: #e2004b;
}

.validate-button {
  color: white;
  background-color: #0BB9F0;
}

.validate-button:hover {
  color: white;
  background-color: #2196F3;
}

.reset-profil-form {
  color: white;
  background-color: #FF4080;
}

.reset-profil-form:hover {
  color: white;
  background-color: #e2004b;
}

.add-address {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #0BB9F0;
}

.add-address:hover {
  color: #FF4080;
  background-color: rgba(255, 64, 127, 0.11);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 0.7rem;
  text-align: left;
}

@media (max-width: 777px) {
  .container {
    padding: 2rem;
  }

  .address-group .mat-form-field {
    flex: none;
    width: 100%;
  }
}
