.container {
  height: 100vh !important;
  margin-top: 7.7rem;
  position: relative;
  margin-left: 1.11rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-on-mobile {
  display: none;
}

tbody {
  text-align: center;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
  font-size: larger;
  margin-bottom: 1.11rem;
  color: #333;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 1rem;
  border-bottom: 1px solid #F5F5F5;
}

.product-image {
  width: 77px;
  height: 77px;
  object-fit: cover;
  margin-right: 1.11rem;
}

.image-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.confirm-button,
.modify-button {
  border-radius: 7.7%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.11rem;
  margin: 1.11rem;
}

.confirm-button {
  background-color: #0BB9F0;
  color: whitesmoke;
}

.confirm-button:hover {
  background-color: #2196F3;
}

.modify-button {
  background-color: #FF4080;
  color: whitesmoke;
}

.modify-button:hover {
  background-color: #e2004b;
}

.checkout-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.11rem;
  margin-top: 1.11rem;
  padding-top: 1.11rem;
}

/* Media query for tablet devices */
@media screen and (max-width: 888px) {
  .container {
    margin-left: 0.5rem;
  }

  .cart-table th,
  .cart-table td {
    padding: 0.5rem;
  }

  .product-image {
    width: 50px;
    height: 50px;
  }

  .confirm-button,
  .modify-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 888px) {
  .container {
    margin-left: 0.3rem;
  }

  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: inline;
  }

  .th-ht, .th-ttc, .th-qty, .th-sub-ttc {
    font-size: smaller;
    padding: 0.22rem;
  }

  h1 {
    font-size: medium;
    margin-bottom: 0.5rem;
  }

  .cart-table th,
  .cart-table td {
    padding: 0.3rem;
  }

  .product-image {
    width: 40px;
    height: 40px;
  }

  .confirm-button,
  .modify-button {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    margin: 0.3rem;
  }
}
