aside {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.11rem;
}

aside:hover {
  color: #7b7070;
}

.animation-cart-empty {
  transition: transform 1.11s;
}

.animation-cart-empty:hover {
  transform: rotate(1080deg);
}

.ping {
  animation: blink 3.33s linear infinite;
  transform: scale(1.11);
  margin-right: 0.777rem;
  border-radius: 77%;
}

.ping-hidden {
  display: none;
}

.ping:hidden {
  animation: blink 3.33s linear infinite;
  transform: scale(1.11);
  margin-right: 0.777rem;
  border-radius: 77%;
}

@keyframes blink {
  0% {background-color: transparent;}
  50% {background-color: #FF4080;}
  100% {background-color: transparent;}
}

span {
  padding-left: 0.111rem;
  display: inline-block;
  animation: scalePulse 1.11s ease-in-out infinite;
}

@keyframes scalePulse {
  0% { transform: scale(1.01); }
  50% { transform: scale(1.11); }
  100% { transform: scale(1.21); }
}

.dialog-text {
  font-size: 2.02rem;
  padding-left: 0.111rem;
  display: inline-block;
  animation: scalePulse 1.11s ease-in-out infinite;
}

.dialog-content {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 3.33rem;
  border-radius: 77%;
  background-color: #eee;
  animation:  scaleAndFadeOut 4.004s ease-in-out forwards;
}

.dialog-content span {
  animation: none;
}

.dialog-content, .dialog-text {
  animation:  scaleAndFadeOut 4.004s ease-in-out forwards;
}

@keyframes scaleAndFadeOut {
  0% {
    transform: scale(1.11);
    opacity: 1;
  }
  33% {
    transform: scale(1.21);
    opacity: 0.77;
  }
  66% {
    transform: scale(1.31);
    opacity: 0.33;
  }
  100% {
    transform: scale(1.41);
    opacity: 0;
  }
}

.dialog-content mat-icon {
  margin: 3.33rem;
}

.blur-background *:not(.dialog-content) {
  opacity: 0.33;
}
