<footer class="footer">
  <div class="footer-content">
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <button style="cursor: pointer" (click)="scrollToTop()">
        <span
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          "
        >
          <mat-icon>arrow_upward</mat-icon>
          <span>Retourner en haut</span>
        </span>
      </button>
    </div>

    <div class="footer-section">
      <h3 class="footer-title">Réussir à mieux nous connaître</h3>
      <ul class="footer-links">
        <li><a href="#">À propos de nous</a></li>
        <li><a href="#">Carrières</a></li>
        <li><a href="#">Investisseurs</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3 class="footer-title">Faire des affaires avec nous</h3>
      <ul class="footer-links">
        <li><a href="#">Vendez sur L2i</a></li>
        <li><a href="#">Publicité sur L2i</a></li>
        <li><a href="#">L2i Newsletter</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <img src="../../../assets/L2i.ico" alt="Logo L2i" class="footer-logo" />
    </div>
  </div>

  <div class="footer-legal">
    <ul class="footer-links-small">
      <li><a href="#">Conditions générales de vente</a></li>
      <li><a href="#">Vos informations personnelles</a></li>
      <li><a href="#">Informations légales</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Annonces basées sur vos centres d’intérêt</a></li>
    </ul>
    <p>SE13©2023, L2i.com</p>
  </div>
</footer>
