.footer {
  position: relative !important;
  height: 100vh !important;
  background-color: black;
  color: #fff;
  margin: 0 0rem;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 1.11rem 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.11rem;
}

.footer-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1.11rem;
}

.footer-title {
  font-size: 1.11rem;
}

.footer-links li a {
  font-size: 0.8rem;
}

.footer-logo {
  max-width: 60px;
  margin-bottom: 1.11rem;
}

a {
  text-decoration: none;
  color: aliceblue;
}

@media (max-width: 555px) {
  .footer-content {
    flex-direction: column;
    gap: 1.11rem;
  }

  .footer-section {
    text-align: center;
  }

  .footer-links {
    padding: 0 1rem;
  }

  .footer-links li a {
    font-size: 0.8rem;
  }

  .footer-logo {
    max-width: 50px;
  }

  .footer-legal {
    margin-top: 2em;
  }

  .footer-links-small {
    gap: 0.5em;
  }

  .footer-links-small li a {
    font-size: 0.7rem;
  }

}
