.footer {
  position: relative !important;
  height: auto !important; /* allow the height to be dynamic */
  background-color: black;
  color: #fff;
  margin: 0 0rem; /* reduce or remove margin */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto; /* add overflow */
  padding: 1.11rem 0; /* add some padding top and bottom */
}

.footer-content {
  gap: 1.11rem; /* reduce gap */
}

.footer-section h3 {
  font-size: 1rem; /* reduce title font size */
}

.footer-links li a {
  font-size: 0.8rem; /* reduce link font size */
}

.footer-logo {
  max-width: 60px; /* reduce logo size */
  margin-bottom: 1.11rem; /* add some bottom margin */
}

@media (max-width: 555px) {
  .footer-content {
    flex-direction: column;
    gap: 1.11rem;
  }

  .footer-section {
    text-align: center;
  }

  .footer-links {
    padding: 0 1rem; /* reduce padding */
  }

  .footer-links li a {
    font-size: 0.8rem; /* reduce font size */
  }

  .footer-logo {
    max-width: 50px; /* reduce logo size */
  }

  .footer-legal {
    margin-top: 2em;
  }

  .footer-links-small {
    gap: 0.5em;
  }

  .footer-links-small li a {
    font-size: 0.7rem; /* reduce font size */
  }

  a {
    text-decoration: none;
    color: aliceblue;
  }
}
