<footer class="footer">
  <div class="footer-content">
    <div>
      <button style="cursor: pointer" (click)="scrollToTop()">
        <span
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          "
        >
          <mat-icon>arrow_upward</mat-icon>
          <span>Retourner en haut</span>
        </span>
      </button>
    </div>

    <div class="footer-section">
      <h3 class="footer-title">Réussir à mieux nous connaître</h3>
      <ul class="footer-links">
        <li><a href="#">À propos de nous</a></li>
        <li><a href="#">Carrières</a></li>
        <li><a href="#">Investisseurs</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3 class="footer-title">Contact Pro</h3>
      <ul class="footer-links">
        <li><a href="#">Vendez sur L2i</a></li>
        <li><a href="#">Publicité sur L2i</a></li>
        <li><a href="#">L2i Newsletter</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <span
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        "
      >
        <span class="footer-title">
          Besoin d'aide<mat-icon>contact_support</mat-icon>
        </span>
      </span>
      <ul class="footer-links">
        <li><a href="#">Retours articles</a></li>
        <li><a href="#">Tarifs et livraison</a></li>
        <li><a href="#">Service client</a></li>
      </ul>
    </div>

    <div class="footer-section footer-logo-container">
      <img src="../../../assets/L2i.ico" alt="Logo L2i" class="footer-logo" />
    </div>
  </div>

  <div class="footer-legal">
    <ul class="footer-links-small">
      <li><a href="#">Conditions générales de vente</a></li>
      <li><a href="#">Vos informations personnelles</a></li>
      <li><a href="#">Informations légales</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Annonces basées sur vos centres d’intérêt</a></li>
    </ul>
    <p>©SE13@2023, L2i.com</p>
  </div>
</footer>
