<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="filter-section">
      <h3>Catégories</h3>
      <mat-divider></mat-divider>
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-checkbox (change)="onCategoryChange('2', $event.checked)">Livres</mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <mat-checkbox #englishBooks (change)="onCategoryChange('5', $event.checked)">Langue Anglaise</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox #frenchBooks (change)="onCategoryChange('4', $event.checked)">Langue Française</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-checkbox (change)="onCategoryChange('3', $event.checked)">Vidéos</mat-checkbox>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item>
              <mat-checkbox #frenchMovies (change)="onCategoryChange('7', $event.checked)">Langue Française</mat-checkbox>
            </mat-list-item>
            <mat-list-item>
              <mat-checkbox #englishMovies (change)="onCategoryChange('6', $event.checked)">Langue Anglaise</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>

      </div>
    </div>
    <div class="filter-section">
      <h3>Prix</h3>
      <mat-divider></mat-divider>
      <ngx-slider
        [(value)]="priceMin"
        [(highValue)]="priceMax"
        [options]="options"
        (valueChange)="onPriceMinChange($event)"
        (highValueChange)="onPriceMaxChange($event)"
      ></ngx-slider>
    </div>

    <div class="filter-section">
      <h3>Années</h3>
      <mat-divider></mat-divider>
      <ngx-slider
        [(value)]="yearMin"
        [(highValue)]="yearMax"
        [options]="optionsYear"
        (valueChange)="onYearMinChange($event)"
        (highValueChange)="onYearMaxChange($event)"
      ></ngx-slider>
    </div>

    <div class="filter-section">
      <h3>Évaluations</h3>
      <mat-divider></mat-divider>
      <div class="rating" *ngFor="let rate of [1, 2, 3, 4, 5]">
        <mat-checkbox (change)="onRatingChange(rate, $event.checked)">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <mat-icon [ngClass]="star <= rate ? 'yellow-star' : 'gray-star'">star</mat-icon>
          </ng-container>
        </mat-checkbox>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-list-item></app-list-item>
  </mat-sidenav-content>
</mat-sidenav-container>
