<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="filter-section">
      <h3>Catégories</h3>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let category of categories">
          <mat-checkbox (change)="onCategoryChange(category, $event.checked)">{{ category }}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="filter-section">
      <h3>Auteurs</h3>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let author of authors">
          <mat-checkbox (change)="onAuthorChange(author, $event.checked)">{{ author }}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="filter-section">
      <h3>Prix</h3>
      <mat-divider></mat-divider>
      <ngx-slider
        [(value)]="priceMin"
        [(highValue)]="priceMax"
        [options]="options"
        (valueChange)="onPriceMinChange($event)"
        (highValueChange)="onPriceMaxChange($event)"
    ></ngx-slider>
  </div>

    <div class="filter-section">
      <h3>Évaluations</h3>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let rating of ratings">
          <mat-checkbox (change)="onRatingChange(ratings.indexOf(rating) + 1, $event.checked)">{{ rating }}</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-list-item></app-list-item>
  </mat-sidenav-content>
</mat-sidenav-container>
