.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background-color: #f7f7f7;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.filters {
  font-family: 'Roboto', sans-serif;
}

.filter-section {
  margin-bottom: 3.33rem;
}

.filter-section h3 {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 0.89rem;
  color: #333;
  text-transform: uppercase;
}

.filter-section mat-divider {
  margin-bottom: 1.1rem;
}

.categories,
.authors,
.ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem 1rem;
  margin-bottom: 1rem;
}

mat-checkbox {
  font-size: 0.8rem;
}

mat-slider {
  width: 100%;
  margin-bottom: 1rem;
}

p {
  font-size: 0.8rem;
  color: #666;
}

.yellow-star {
  color: gold;
}

.gray-star {
  color: gray;
}

/* Configs: */

.list-identation {
  padding-left: 1.2em;
}

.list-between-spacing {
  margin: 0.2em 0;
}

.list-carret-character {
  content: "\f0da";
  font-family: "FontAwesome";
  visibility: visible;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: -1.45em;
  transition: transform 0.3s;
}


/* Just some border in the main list: */

body > ul{
  border-left: 5px solid #DDD;
}


/* Tree list styles: */

ul.tree-list{
  font-family: 'Roboto', sans-serif;
}

ul.tree-list li{
  list-style: none;
  padding: 0.2em 0;
}

ul.tree-list li label{
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
}

ul.tree-list ul {
  padding-left: 1.2em;
  position: relative;
}


ul.tree-list ul li{
  display: none;
}

ul.tree-list ul:before {
  content: "\f0da";
  font-family: "FontAwesome";
  visibility: visible;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: -1.45em;
  transition: transform 0.3s;
}


ul.tree-list input.cb-collapsable{
  width: 100%;
  position: absolute;
  cursor: pointer!important;
  margin-top: 0.5em;
  opacity: 0;
}

ul.tree-list input.cb-collapsable:hover + label{
  background-color: #EEE;
}
ul.tree-list input.cb-collapsable ~ ul:before{
  content: '\f0da';
        font-family: 'FontAwesome';
        visibility: visible;
        font-size: 14px;
        position: absolute;
        left: 0;
        top: -1.45em;
        transition: transform 0.3s
}

ul.tree-list input.cb-collapsable:checked ~ ul:before{
  transform: rotate(90deg);
}

ul.tree-list input.cb-collapsable:checked ~ ul li{
  display: block;
}

.cb-collapsable{
  padding: auto;
}
