<div class="sign-container">
  <div class="sign-content">
      <div class="login-card">
        <h1>Welcome to L2i</h1>
        <h2>Connexion</h2>
        <div class="mb-4">
          <label for="username" class="block text-gray-600">
            Nom
          </label>
          <input type="text" id="username" name="username">
        </div>
        <div class="mb-4">
          <label for="password" class="block text-gray-600">
            Mode de passe
          </label>
          <input type="password" id="password" name="username">
        </div>
        <button
          mat-raised-button
        >
          <mat-icon>more_vert</mat-icon>
          <span>Se connecter</span>
        </button>
      </div>
  </div>
</div>
