<aside (click)="openDrawer($event)">
  <ng-container *ngIf="(totalItemsInCart$ | async) !== 0; else emptyCart">
    <mat-icon class="ping">add_shopping_cart</mat-icon>
  </ng-container>

  <ng-template #emptyCart>
    <mat-icon
      [ngClass]="{
        'animation-cart-empty': ((totalItemsInCart$ | async) ?? 0) === 0
      }"
      >shopping_cart</mat-icon
    >
  </ng-template>

  <span>{{ (totalItemsInCart$ | async) || 0 }}</span>
</aside>

<!-- Dialog content -->
<ng-template #dialogContent>
  <div class="dialog-content">
    <mat-icon>visibility_off</mat-icon>
    <span class="dialog-text">Votre panier est vide</span>
    <mat-icon>shopping_cart</mat-icon>
  </div>
</ng-template>
