<mat-card class="mat-elevation-z8">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field>
        <mat-label>URL de l'image</mat-label>
        <input matInput formControlName="imageUrl">
      </mat-form-field>

      <mat-form-field>
        <mat-label>isbn13 du livre</mat-label>
        <input matInput formControlName="isbn13">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sous-titre</mat-label>
        <input matInput formControlName="subtitle">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Prix en $</mat-label>
        <input matInput type="number" formControlName="regularPrice">
      </mat-form-field>

      <mat-label>En stock</mat-label>
      <mat-checkbox formControlName="inStock"></mat-checkbox>

      <mat-form-field>
        <mat-label>Quantité en stock</mat-label>
        <input matInput type="number" formControlName="quantityInStock">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Auteurs</mat-label>
        <input matInput formControlName="authors">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Éditeur</mat-label>
        <input matInput formControlName="editor">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Catégorie</mat-label>
        <select matNativeControl formControlName="category">
          <optgroup label="Livres">
            <option value="4">Langue Française</option>
            <option value="5">Langue Anglaise</option>
          </optgroup>
          <optgroup label="Vidéos">
            <option value=">7">Langue Française</option>
            <option value="6">Langue Anglaise</option>
          </optgroup>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre de pages</mat-label>
        <input matInput type="number" formControlName="pages">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Année</mat-label>
        <input matInput type="number" formControlName="year">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Langue</mat-label>
        <select matNativeControl formControlName="language">
          <option value="french">Français</option>
          <option value="english">Anglais</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Version</mat-label>
        <input matInput type="number" formControlName="version">
      </mat-form-field>

      <mat-label>Nouvelle collection</mat-label>
      <mat-checkbox formControlName="newCollection"></mat-checkbox>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">Soumettre</button>
      <button mat-raised-button color="warn" (click)="onReset()">Réinitialiser</button>
    </mat-card-actions>
  </form>
</mat-card>
