body {
  font-family: 'Roboto', sans-serif;
}

.mat-card {
  position:relative;
  height: 100vh !important;
  top: 7.7rem;
  height: calc(100% - 7.7rem);
  max-width: 600px;
  margin: 0.44rem auto;
  text-align: center;
  margin-bottom: 44vh !important;
}

.mat-card-actions.button-row {
  margin: 0;
  padding: 0;
}

h2 {
  color: #0BB9F0;
  text-decoration: underline;
  text-decoration-color: rgba(255, 64, 128, 0.44);;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button {
  margin-right: 12px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-expansion-panel {
  width: 100%;
}

.mat-accordion {
  width: 100%;
}

.custom-mat-form-field {
  display: inline-block;
  width: 100%;
  padding: 0 1em 0 0;
}

.author-checkbox {
  display: flex;
  align-items: center;
  padding: 0.44em 0;
}

@media screen and (max-width: 888px) {
  .mat-card {
    top: 22rem;
  }
}
