<div class="container">
  <div class="grid">
    <div *ngFor="let item of (cartItems$ | async); let i = index" class="product-card">
      <img [src]="item.imageUrl" alt="{{item.title}}">
      <div class="content">
        <h2>{{item.title}}</h2>
        <p>{{item.category.name}}</p>
        <p><small class="text-muted">Prix en euros: {{item.regularPrice | currency:'EUR':true}}</small></p>
        <div class="actions">
          <app-cart-item-quantity [item]="item"></app-cart-item-quantity>
          <button (click)="removeItemFromCart(item.id)">
            <mat-icon color="warn" aria-label="Remove this item">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="total-items-in-cart" *ngIf="(totalItems$ | async) as totalItemsInCart">
    <h3>Total d'articles dans le panier: {{ totalItemsInCart }}</h3>
  </div>

  <div class="sub-total" *ngIf="(subTotal$ | async) as subTotal">
    <h3>Prix HT: {{ subTotal | currency:'EUR':true }}</h3>
  </div>

  <div class="total-with-taxes" *ngIf="(totalWithTaxes$ | async) as totalWithTaxes">
    <h3>Prix TTC: {{ totalWithTaxes | currency:'EUR':true }}</h3>
  </div>

  <button class="primary-button" (click)="checkout()">Paiement</button>
</div>
