<div class="container">
  <h1>Votre panier</h1>

  <table class="cart-table">
    <thead>
      <tr>
        <th>PRODUIT</th>
        <th>PRIX</th>
        <th>QUANTITÉ</th>
        <th>SOUS-TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (cartItems$ | async); let i = index">
        <td>
          <div class="image-icon-container">
            <mat-icon (click)="removeItemFromCart(item.id)">delete</mat-icon>
            <img [src]="item.imageUrl" alt="{{item.title}}" class="product-image">
          </div>
          <span>{{item.title}}</span>
        </td>
        <td>{{item.regularPrice | currency:'EUR':true}}</td>
        <td>
          <app-cart-item-quantity [item]="item"></app-cart-item-quantity>
        </td>
        <td>{{(item.regularPrice * item.quantity) | currency:'EUR':true}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>{{ (totalItems$ | async) }}</td>
        <td>{{ (subTotal$ | async) | currency:'EUR':true }}</td>
      </tr>
    </tfoot>
  </table>

  <div class="checkout-section">
    <h2><span style="text-decoration: underline;">Total TTC</span> : <span style="font-weight: bolder;">{{ (totalWithTaxes$ | async) | currency:'EUR':true }}</span></h2>
    <button class="cart-order-button" mat-raised-button (click)="orderValidate()">Valider la commande</button>
  </div>
</div>

<ng-template #errorDialog let-data="data">
  <h2 mat-dialog-title>Erreur de commande</h2>
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Ok</button>
  </div>
</ng-template>



