
h1 {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 1.11rem;
  color: #333;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th,
.cart-table td {
  padding: 1rem;
  border-bottom: 1px solid #F5F5F5;
}

.product-image {
  width: 77px;
  height: 77px;
  object-fit: cover;
  margin-bottom: 1.11rem;
}

.image-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-icon-container mat-icon {
  margin-right: 3.33rem;
  cursor: pointer;
  padding: 1.11rem;
  margin-bottom: 1.11rem;
}

.cart-order-button {
  background-color: #0BB9F0;
  color: whitesmoke;
  border-radius: 44%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.11rem;
  margin: 1.11rem;
}

.cart-order-button:hover {
  background-color: #2196F3;
}
.cart-clear-button {
  background-color: #FF4080;
  color: whitesmoke;
  border-radius: 44%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.11rem;
  margin: 1.11rem;
}

.cart-clear-button:hover {
  background-color: #e2004b;
}

.checkout-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.11rem;
  margin-top: 1.11rem;
  padding-top: 1.11rem;
}

.cart-container {
  height: auto;
  overflow: auto;
}
