<div class="container">
  <div class="drawer-item" (click)="openProfilePage()">
    <mat-icon>person</mat-icon>
    <span class="drawer-item-text">Mon profil</span>
  </div>
  <div class="drawer-item" (click)="openOrdersPage()">
    <mat-icon>shopping_cart</mat-icon>
    <span class="drawer-item-text">Mes commandes</span>
  </div>
  <div class="drawer-item" (click)="openFavoritesPage()">
    <mat-icon>favorite</mat-icon>
    <span class="drawer-item-text">Mes favoris</span>
  </div>
  <button class="logout-button">
    <mat-icon>exit_to_app</mat-icon>
    <span class="drawer-item-text" (click)="onLogout()">Déconnexion</span>
  </button>
</div>
