aside {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.11rem;
  border-radius: 55%;
  width: 3.33rem;
  height: 3.33rem;
}

aside:hover {
  background-color: #EBEBEB;
}

.logged-in {
  color: #0BB9F0;
}

.logged-in:hover {
  background-color: rgba(32, 150, 243, 0.11);
  transition: transform 1..11s ease-in, transform 3.33s ease-out;
  transform: scale(1.51);
}

.button-account_circle-logged{
  transition: transform 1..11s ease-in, transform 3.33s ease-out;
  transform: scale(1.51);
  color: #0BB9F0
}

.button-account_circle-logged:hover{
  transition: transform 1..11s ease-in, transform 3.33s ease-out;
  transform: scale(1.51);
  color: #0BB9F0
}

.button-account_circle-loggout{
  color: #C5E1FC;
  transition: transform 1..11s ease-in, transform 3.33s ease-out;
  transform: scale(1.51);
}

.button-account_circle-loggout:hover{
  color: #0BB9F0;
  transition: transform 1..11s ease-in, transform 3.33s ease-out;
  transform: scale(1.51);
}

