<div class="search-container flex justify-center">
  <label class="relative max-w-full w-2/3">
    <input
      matInput
      [formControl]="searchInput"
      placeholder="Rechercher votre article"
      class="input-field w-full"
    />
    <button
      mat-icon-button
      aria-label="Trouver votre article"
      (click)="searchInput.setValue('')"
      class="search-button"
    >
      <ng-container *ngIf="!searchInput.value">
        <mat-icon>search</mat-icon>
      </ng-container>
      <ng-container *ngIf="searchInput.value">
        <mat-icon>close</mat-icon>
      </ng-container>
    </button>
  </label>
</div>
