.container {
  height: 100vh !important;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1.11rem;
  margin-left: 1.11%;
  margin-top: 1.11rem;
}

.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 7.7%;
  overflow: scroll;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
  height: 404px;
  width: 240px;
  margin-bottom: 1.11rem;
}

.custom-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transform: scale(1.11);
  z-index: 1;
}

.custom-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon-favorite {
  color: #FF4080;
}

mat-card-image {
  align-items: center;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.item-description {
  cursor: pointer;
  color: #333;
  font-size: 0.89rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  font-size: 1.11rem;
  color: rgba(0, 0, 0, 0.4);
}

.yellow-star {
  color: gold;
}

mat-card-title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.paginator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 3.33rem;
}

.mat-paginator {
  margin-left: auto;
  background-color: #f9f9f9;
  padding: 0.89rem 0;
  border-radius: 7.7%;
  margin-top: 1.11rem;
}

.mat-paginator .mat-paginator-navigation-previous,
.mat-paginator .mat-paginator-navigation-next {
  color: #333;
}

.mat-paginator .mat-paginator-range-label {
  color: #666;
}

.mat-select-trigger {
  font-size: 0.89rem;
  color: #333;
}

::ng-deep .mat-select-panel {
  font-size: 0.89rem;
}


::ng-deep .mat-select-min-line {
  font-size: 1.11rem;
}

@media screen and (max-width: 1036px) {
  .container {
    margin-left: 7.7%;
  }
}

@media screen and (max-width: 888px) {
  .container {
    margin-left: 4.4%;
  }
}

@media screen and (max-width: 777px) {
  .container {
    margin-left: 17%;
    margin-top: 7.77rem;
  }
}

@media screen and (max-width: 606px) {
  .container {
    margin-left: 3.33%
  }
}

@media screen and (max-width: 505px) {
  .container {
    margin-left: 0%
  }
}

@media screen and (max-width: 468px) {
  .container {
    margin-left: 17%
  }
}
