.container {
  margin-top: 7rem;
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60vh;
}

.status-selector {
  text-align: center;
  width: 100%;
  margin-bottom: 1.11rem;
}

.status-icon{
  display: none;
}

td {
  text-align: center;
}

.td-details {
  text-decoration: underline;
}

.td-details:hover {
  cursor: pointer;
  text-decoration-color: #2096F3;
}

.order-list {
  width: 100%;
  margin: 1.11rem 0;
  border-collapse: collapse;
}

.order-list th,
.order-list td {
  padding: 1.11rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.order-list tr {
  box-shadow: 0 1px 3px rgba(0,0,0,0.22);
  margin: 10px 0;
  transition: box-shadow 0.3s ease;
}

.order-list tr:hover {
  box-shadow: 0 2px 6px rgba(0,0,0,0.33);
}


.order-list th {
  background-color: #f5f5f5;
}

.order-item-expanded {
  background-color: #f9f9f9;
}

.no-orders-title {
  text-align: center;
  font-size: 2em;
  color: red;
  margin-top: 2rem;
}

@media (max-width: 777px) {
  .container {
    margin-top: 11.1rem;
  }

  .status-text {
    display: none;
  }

  .status-icon{
    display: block;
  }
}
