.mat-sidenav {
  width: 36%;
  transition: transform 1..11s ease-in, transform 3.33s ease-out;
  background-color: aliceblue;
}

mat-drawer-content mat-sidenav-content {
  margin: 0;
}

app-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.sidenav-cart {
  width: 44%;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.sidenav-account-user {
  width: 17rem;
  position: fixed;
  left: 0;
  z-index: 1000;
}

@media (max-width: 1111px) {
  .sidenav-cart  {
    width: 55%;
  }
}

@media (max-width: 888px) {
  .sidenav-cart  {
    width: 100%;
  }

  .sidenav-account-user {
    width: 7rem;
    position: fixed;
    left: 0;
    z-index: 1000;
  }
}
