.mat-sidenav {
  width: 36%;
  transition: transform 1..11s ease-in, transform 3.33s ease-out;
}

app-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}

.sidenav-cart {
  width: 36%;
}

@media (max-width: 770px) {
  .mat-sidenav  {
    width: 100%;
  }
}


