<div class="container">
  <h1>Récapitulatif de la commande</h1>

  <div class="shipping-address section aligned-section">
    <h2 style="font-weight: bolder; margin: 1.11rem">Adresse de livraison:</h2>
  </div>

  <table class="cart-table">
    <thead>
      <tr>
        <th class="hide-on-mobile">ARTICLE</th>
        <th class="show-on-mobile"></th>
        <th>
          <span class="hide-on-mobile">PRIX UNITAIRE HT</span>
          <span class="show-on-mobile">HT</span>
        </th>
        <th>TVA</th>
        <th>
          <span class="hide-on-mobile">PRIX UNITAIRE TTC</span>
          <span class="show-on-mobile">TTC</span>
        </th>
        <th>
          <span class="hide-on-mobile">QUANTITÉ</span>
          <span class="show-on-mobile">QTÉ</span>
        </th>
        <th>
          <span class="hide-on-mobile">SOUS-TOTAL TTC</span>
          <span class="show-on-mobile">SOUS-TTC</span>
        </th>
      </tr>
    </thead>
    <thead>
      <tr></tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of cartItems$ | async">
        <td>
          <div class="image-icon-container">
            <img
              [src]="item.imageUrl"
              alt="{{ item.title }}"
              class="product-image"
            />
          </div>
          <span>{{ item.title }}</span>
        </td>
        <td>
          {{ item.regularPrice * (1 - item.tva.tvaRate) | number : "1.2-2" }} €
        </td>
        <td>{{ item.tva.tvaRate * 100 }} %</td>
        <td>{{ item.regularPrice | number : "1.2-2" }} €</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.regularPrice * item.quantity | number : "1.2-2" }} €</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">&nbsp;</td>
        <td style="text-align: center">
          <span style="text-decoration: underline">Total TTC</span> :
        </td>
      </tr>
      <tr>
        <td colspan="5">&nbsp;</td>
        <td style="text-align: center">
          <span style="font-weight: bolder">
            {{ totalTTC$ | async | number : "1.2-2" }} €
          </span>
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="checkout-section">
    <button class="confirm-button" (click)="onConfirmOrder()">
      Passer au paiement
    </button>
    <button class="modify-button" (click)="openCartDrawer()">
      Modifier le panier
    </button>
  </div>
</div>
