<div class="container">
  <h1>Récapitulatif de la commande</h1>

  <div class="shipping-address section aligned-section">
    <h3>Adresse de livraison:</h3>
  </div>

  <table class="cart-table">
    <thead>
      <tr>
        <th>PRODUIT</th>
        <th>PRIX UNITAIRE HT</th>
        <th>PRIX UNITAIRE TTC</th>
        <th>TVA</th>
        <th>QUANTITÉ</th>
        <th>SOUS-TOTAL TTC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems$ | async">
        <td>
          <div class="image-icon-container">
            <img
              [src]="item.imageUrl"
              alt="{{ item.title }}"
              class="product-image"
            />
          </div>
          <span>{{ item.title }}</span>
        </td>
        <td>
          {{ item.regularPrice * (1 - item.tva.tvaRate) | number : "1.2-2" }} €
        </td>
        <td>{{ item.regularPrice | number : "1.2-2" }} €</td>
        <td>{{ item.tva.tvaRate }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.regularPrice * item.quantity | number : "1.2-2" }} €</td>
      </tr>
    </tbody>
  </table>

  <div class="checkout-section">
    <h2>
      <span style="text-decoration: underline">Total TTC</span> :
      <span style="font-weight: bolder"
        >{{ totalTTC$ | async | number : "1.2-2" }} €</span
      >
    </h2>
    <button class="confirm-button" (click)="onConfirmOrder()">
      Passer au paiement
    </button>
    <button class="modify-button" (click)="openCartDrawer()">
      Modifier le panier
    </button>
  </div>
</div>
