<form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="address-grid">
  <h3>Enregistrer une nouvelle adresse</h3>
  <div class="input-field">
    <input
      formControlName="title"
      type="text"
      placeholder="Titre de votre adresse"
    />
  </div>
  <div class="input-field">
    <input formControlName="street" type="text" placeholder="Rue" />
    <div *ngIf="street.errors && street.touched">
      <div *ngIf="street.errors['required']">La rue est requise.</div>
    </div>
  </div>
  <div class="input-field">
    <input formControlName="city" type="text" placeholder="Ville" />
    <div *ngIf="city.errors && city.touched">
      <div *ngIf="city.errors['required']">La ville est requise.</div>
    </div>
  </div>
  <div class="input-field">
    <input formControlName="zipCode" type="text" placeholder="Code postal" />
    <div *ngIf="zipCode.errors && zipCode.touched">
      <div *ngIf="zipCode.errors['required']">Le code postal est requis.</div>
    </div>
  </div>
  <div class="input-field">
    <input formControlName="state" type="text" placeholder="Région" />
  </div>
  <div class="input-field">
    <input formControlName="country" type="text" placeholder="Pays" />
    <div *ngIf="country.errors && country.touched">
      <div *ngIf="country.errors['required']">Le pays est requis.</div>
    </div>
  </div>
  <mat-card-actions class="button-row">
    <button mat-raised-button color="accent" (click)="goBackToPreviousPage()">
      Retour
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="addressForm.invalid"
    >
      Valider
    </button>
    <button mat-raised-button class="reset-profil-form" (click)="onReset()">
      Réinitialiser
    </button>
  </mat-card-actions>
</form>
