.nav-container {
  height: 7rem;
}

.nav-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  gap: 3.3rem;
}

.menu button {
  font-size: 1.1rem;
}

.logo-search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-logo img {
  height: 2.5rem;
  width: auto;
  margin-right: 3.3rem;
  margin-left: 3.3rem;
}

.nav-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.111;
}

.search-bar-large {
  flex-grow: 7.7;
}

.nav-aside {
  margin-right: 3.3rem;
}

.admin-add-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.11rem;
  width: 2.02rem;
  height: 2.02rem;
  border-radius: 55%;
}

.admin-add-item:hover {
  color: #FF4080;
  background-color: rgba(255, 64, 127, 0.11);
}

.logged-in {
  color: blue;
  background-color: blue;
}

.logged-out {
  color: black;
  background-color: grey;
}


/* Media Query for mobile devices */
@media (max-width: 888px) {
  .nav-container {
    flex-direction: column;
    height: 19rem;
  }

  .nav-wrapper {
    flex-direction: column;
  }

  .menu {
    flex-direction: column;
    gap: 0.89rem;
    align-items: center;
    margin: 0;
  }

  .logo-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .search-bar-large {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    flex-grow: 0;
    margin: 0;
  }

  .nav-actions {
    flex-grow: 0;
    margin: 0;
    gap: 0;
  }

}
