.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.menu {
  display: flex;
  gap: 3.3rem;
}

.menu button {
  font-size: 1.1rem;
}

.logo-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.nav-logo img {
  height: 2.5rem;
  width: auto;
  margin-right: 3.3rem;
  margin-left: 3.3rem;
}

.nav-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.111;
}

.search-bar-large {
  flex-grow: 7.7;
}

.nav-aside {
  margin-right: 3.3rem;
}

.admin-add-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.11rem;
  width: 2.02rem;
  height: 2.02rem;
  border-radius: 55%;
}

.admin-add-item:hover {
  color: #FF4080;
  background-color: rgba(255, 64, 127, 0.11);
}

.logged-in {
  color: blue;
  background-color: blue;
}

.logged-out {
  color: black;
  background-color: grey;
}

@media (min-width: 889px) {
  .menu {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }
}

@media (max-width: 888px) {
  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 444px) {
  .nav-container {
    height: auto;

  }

  .menu {
    display: none;
    gap: 0;
    padding: 0;
    margin: 0;
  }

  .mobile-menu {
    display: block;
  }

  .nav-wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
  }
}


