<mat-toolbar class="nav-container">
  <div class="nav-wrapper">
    <a class="nav-logo" routerLink="/">
      <img src="../../../assets/L2i.ico" />
    </a>

    <!-- Desktop menu -->
    <div class="menu">
      <button mat-button routerLink="/items/books">Articles</button>
      <button mat-button routerLink="/items/books/new">Nouveautés</button>
      <button mat-button routerLink="/items/books/promos">Soldes</button>
      <button mat-button routerLink="/comments">Avis</button>
    </div>

    <!-- Search bar -->
    <div class="logo-search-container">
      <app-search-item class="search-bar-large"></app-search-item>
    </div>

    <!-- ADD item for admin -->
    <button *ngIf="isAdmin" (click)="goToAddItem()">
      <mat-icon>add</mat-icon>
    </button>

    <div class="nav-actions">
      <!-- Customer account drawer -->
      <app-account-customer-drawer (click)="toggleAccountCustomerDrawer()">
      </app-account-customer-drawer>

      <!-- Cart drawer for shopping -->
      <app-aside *ngIf="!isAdmin" (click)="toggleCartDrawer()"></app-aside>
    </div>
  </div>
</mat-toolbar>
