.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.login-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3.03rem;
  border-radius: 0.77rem;
  box-shadow: 0 0.33rem 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 33.3%;
  max-width: 404px;
}

.input-field {
  margin: 1.31rem 0;
}

.input-field input {
  width: 100%;
  padding: 0.89rem;
  border: 1px solid #ccc;
  border-radius: 0.77rem;
}

.login-button {
  width: 100%;
  padding: 1.11rem;
  background-color: #0BB9F0;
  color: white;
  border: none;
  border-radius: 0.77rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #2196F3;
}

.error {
  color: #FF4080;
  font-size: 1.11rem;
  margin-top: 0.44rem;
}

.login-card h2 {
  margin-bottom: 1.11rem;
  font-size: 1.77rem;
}

@media screen and (max-width: 768px) {
  .login-card {
    width: 77%;
  }
}

@media screen and (max-width: 202px) {
  .login-card {
    width: 89%;
  }
}
