<mat-toolbar class="nav-container">
  <div class="nav-wrapper">
    <a class="nav-logo" routerLink="/">
      <img src="../../../assets/L2i.ico">
    </a>
      <!-- Desktop menu -->
    <div class="menu">
      <button mat-button routerLink="/items">Catégories</button>
      <button mat-button routerLink="/promos">Promos</button>
      <button mat-button routerLink="/favorites">Favoris</button>
      <button mat-button routerLink="/comments">Avis</button>
    </div>
    <!-- Search bar -->
    <div class="logo-search-container">
      <app-search-item class="search-bar-large"></app-search-item>
    </div>
    <div class="nav-actions">
      <!-- User button for connection -->
      <button mat-icon-button routerLink="/">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
  <!-- Cart drawer for shopping -->
  <div class="nav-aside">
    <app-aside></app-aside>
  </div>
</mat-toolbar>
