.nav-container {
  display: flex;
  justify-content: space-between;
  height: 7rem;
}

.nav-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  gap: 3.3rem;
}

.menu button {
  font-size: 1.1rem;
}

.logo-search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-logo img {
  height: 2.5rem;
  width: auto;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.search-bar-large {
  flex-grow: 1;
  margin-left: 1.6rem;
}

.nav-aside {
  margin-right: auto;
}
