<div *ngIf="item$ | async as item" class="container">
  <mat-card class="detail-card">
    <mat-card-header>
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="item.imageUrl" alt="{{ item.title }} cover image">
    <mat-card-content>
      <p><strong>Author(s):</strong> {{ item.authors | json }}</p>
      <p><strong>Editor:</strong> {{ item.editor | json }}</p>
      <p><strong>Category:</strong> {{ item.categorie | json }}</p>
      <p><strong>ISBN:</strong> {{ item.isbn13 }}</p>
      <p><strong>Description:</strong> {{ item.description }}</p>
      <p><strong>Regular Price:</strong> {{ item.regularPrice }}</p>
      <p><strong>Rating:</strong> {{ item.rating }}</p>
      <p><strong>In Stock:</strong> {{ item.inStock }}</p>
      <p><strong>Quantity In Stock:</strong> {{ item.quantityInStock }}</p>
      <p><strong>Total Sales:</strong> {{ item.totalSales }}</p>
      <p><strong>Pages:</strong> {{ item.pages }}</p>
      <p><strong>Year:</strong> {{ item.year }}</p>
      <p><strong>Language:</strong> {{ item.language }}</p>
      <p><strong>Version:</strong> {{ item.version }}</p>
      <p><strong>New Collection:</strong> {{ item.newCollection }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goBackToListItems()">Go Back</button>
    </mat-card-actions>
  </mat-card>
</div>
