<nav class="w-full bg-gray-100" class="sticky">
  <div class="container mx-auto">
    <ul class="flex justify-between">
      <li class="px-4 py-2 bg-white border-b-4 border-indigo-500 font-medium">
        <a [routerLink]="['/items']">Livres</a>
      </li>
      <li class="px-4 py-2 bg-white border-b-4 border-gray-400 font-medium">
        <a [routerLink]="['/items']">Vidéos</a>
      </li>
      <li class="px-4 py-2 bg-white border-b-4 border-gray-400 font-medium">
        <a [routerLink]="['/items']">Autres</a>
      </li>
    </ul>
  </div>
</nav>
