<mat-sidenav-container class="sidenav-container">
  <!-- Contenu principal ici -->
  <!-- <mat-sidenav-content class="sidenav-content">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content> -->

  <mat-sidenav
    mode="over"
    [opened]="accountCustomerDrawerService.isOpen$ | async"
    class="sidenav-cart"
  >
    <button mat-icon-button (click)="closeAccountCustomerDrawer()">
      <mat-icon>close</mat-icon>
    </button>
    <app-account-customer-drawer></app-account-customer-drawer>
  </mat-sidenav>

  <!-- Tiroir pour le compte utilisateur -->
  <mat-sidenav-content #userSidenav position="end" class="sidenav">
    <app-nav></app-nav>
    <div class="user-drawer">
      <div class="drawer-item" routerLink="/account/profile">
        <mat-icon>person</mat-icon>
        Mon profil
      </div>
      <div class="drawer-item" routerLink="/account/orders">
        <mat-icon>shopping_cart</mat-icon>
        Mes commandes
      </div>
      <div class="drawer-item" routerLink="/account/favorites">
        <mat-icon>favorite</mat-icon>
        Mes favoris
      </div>
      <button class="logout-button">
        <mat-icon>exit_to_app</mat-icon>
        Déconnexion
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
