<div class="register-container">
  <div class="register-card">
    <h2>Inscription</h2>
    <h3>Informations personnelles</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="account-info">
        <div class="input-field">
          <input formControlName="username" type="text" placeholder="Pseudo" />
          <div *ngIf="username.errors && username.touched">
            <div *ngIf="username.errors['required']">Le pseudo est requis.</div>
          </div>
        </div>

        <div class="input-field">
          <input
            formControlName="email"
            type="email"
            placeholder="Adresse e-mail"
          />
          <div *ngIf="email.errors && email.touched">
            <div *ngIf="email.errors['required']">
              L'adresse e-mail est requise.
            </div>
            <div *ngIf="email.errors['email']">
              L'adresse e-mail n'est pas valide.
            </div>
          </div>
        </div>

        <div class="input-field">
          <input
            formControlName="password"
            type="password"
            placeholder="Mot de passe"
          />
          <div *ngIf="password.errors && password.touched">
            <div *ngIf="password.errors['required']">
              Le mot de passe est requis.
            </div>
            <div *ngIf="password.errors['minlength']">
              Le mot de passe doit comporter au moins 8 caractères.
            </div>
          </div>
        </div>

        <div class="input-field">
          <input formControlName="firstname" type="text" placeholder="Prénom" />
          <div *ngIf="firstname.errors && firstname.touched">
            <div *ngIf="firstname.errors['required']">
              Le prénom est requis.
            </div>
          </div>
        </div>

        <div class="input-field">
          <input formControlName="lastname" type="text" placeholder="Nom" />
          <div *ngIf="lastname.errors && lastname.touched">
            <div *ngIf="lastname.errors['required']">Le Nom est requis.</div>
          </div>
        </div>

        <div class="input-field">
          <input
            formControlName="phoneNumber"
            type="text"
            placeholder="Numéro de téléphone"
          />
        </div>
      </div>

      <button
        type="submit"
        class="register-button"
        [disabled]="registerForm.invalid"
      >
        Créer votre compte
      </button>
    </form>

    <div class="options">
      <button (click)="goBack()" class="back-button">Retour</button>
      <a routerLink="/auth/login" class="register-link">S'identifier</a>
    </div>
  </div>
</div>
