<div class="login-container">
  <div class="login-card">
    <h2>Inscription</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <input
          formControlName="username"
          type="text"
          placeholder="Nom d'utilisateur"
        />
        <div
          *ngIf="username?.invalid && (username?.dirty || username?.touched)"
          class="error"
        >
          <div *ngIf="username?.errors?.['required']">
            Le nom d'utilisateur est requis.
          </div>
          <!-- Vous pouvez ajouter d'autres messages d'erreur ici -->
        </div>
      </div>
      <div class="input-field">
        <input
          formControlName="email"
          type="email"
          placeholder="Adresse e-mail"
        />
        <div
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          class="error"
        >
          <div *ngIf="email?.errors?.['required']">
            L'adresse e-mail est requise.
          </div>
          <div *ngIf="email?.errors?.['email']">
            Veuillez entrer une adresse e-mail valide.
          </div>
        </div>
      </div>
      <div class="input-field">
        <input
          formControlName="password"
          type="password"
          placeholder="Mot de passe"
        />
        <div
          *ngIf="password?.invalid && (password?.dirty || password?.touched)"
          class="error"
        >
          <div *ngIf="password?.errors?.['required']">
            Le mot de passe est requis.
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="login-button"
        [disabled]="registerForm.invalid"
      >
        Créer votre compte
      </button>
    </form>
    <div class="options">
      <button (click)="goBack()" class="back-button">Retour</button>
      <a routerLink="/auth/login" class="register-link">S'identifier</a>
    </div>
  </div>
</div>
