.register-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.register-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3.03rem;
  border-radius: 0.77rem;
  box-shadow: 0 0.33rem 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 77.7%;
  max-width: 1001px;
}

.input-field {
  margin: 1.31rem 0;
  flex: 1;
}

.input-field input {
  width: 100%;
  padding: 0.89rem;
  border: 1px solid #ccc;
  border-radius: 0.77rem;
}

.account-info, .personal-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 777px) {
  .account-info, .personal-info {
    flex-direction: row;
  }
  .address-grid {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}

.register-button {
  width: 100%;
  padding: 1.11rem;
  background-color: #0BB9F0;
  color: white;
  border: none;
  border-radius: 0.77rem;
  cursor: pointer;
}

.register-button:hover {
  background-color: #2196F3;
}

.error {
  color: #FF4080;
  font-size: 1.11rem;
  margin-top: 0.44rem;
}

.register-card h2 {
  margin-bottom: 1.11rem;
  font-size: 1.77rem;
}

.options {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.register-link {
  color: #FF4080;
  text-decoration: none;
}

.register-link:hover {
  color: #e2004b;
  text-decoration: none;
}

.back-button {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.44);
  cursor: pointer;
}

.back-button:hover {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.77);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .register-card {
    width: 77%;
  }
}

@media screen and (max-width: 202px) {
  .register-card {
    width: 89%;
  }
}

.address-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media screen and (max-width: 777px) {

  .register-container {
    position: relative;
  }

}
