<div class="login-container">
  <div class="login-card">
    <h2>Inscription</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="account-info">
        <div class="input-field">
          <input
            formControlName="username"
            type="text"
            placeholder="Nom d'utilisateur"
          />
        </div>
        <div class="input-field">
          <input
            formControlName="email"
            type="email"
            placeholder="Adresse e-mail"
          />
        </div>
        <div class="input-field">
          <input
            formControlName="password"
            type="password"
            placeholder="Mot de passe"
          />
        </div>
      </div>
      <div class="personal-info">
        <div class="input-field">
          <input formControlName="firstname" type="text" placeholder="Prénom" />
        </div>
        <div class="input-field">
          <input formControlName="lastname" type="text" placeholder="Nom" />
        </div>
        <div class="input-field">
          <input
            formControlName="phoneNumber"
            type="text"
            placeholder="Numéro de téléphone"
          />
        </div>
      </div>
      <h3>Adresse de facturation</h3>
      <div formGroupName="billingAddress" class="address-grid">
        <div class="input-field">
          <input formControlName="street" type="text" placeholder="Rue" />
        </div>
        <div class="input-field">
          <input formControlName="city" type="text" placeholder="Ville" />
        </div>
        <div class="input-field">
          <input
            formControlName="postalCode"
            type="text"
            placeholder="Code postal"
          />
        </div>
        <div class="input-field">
          <input formControlName="country" type="text" placeholder="Pays" />
        </div>
        <div class="input-field">
          <input formControlName="state" type="text" placeholder="État" />
        </div>
      </div>
      <h3>Adresse de livraison</h3>
      <div formGroupName="shippingAddress" class="address-grid">
        <div class="input-field">
          <input formControlName="street" type="text" placeholder="Rue" />
        </div>
        <div class="input-field">
          <input formControlName="city" type="text" placeholder="Ville" />
        </div>
        <div class="input-field">
          <input
            formControlName="postalCode"
            type="text"
            placeholder="Code postal"
          />
        </div>
        <div class="input-field">
          <input formControlName="country" type="text" placeholder="Pays" />
        </div>
        <div class="input-field">
          <input formControlName="state" type="text" placeholder="État" />
        </div>
      </div>
      <button
        type="submit"
        class="login-button"
        [disabled]="registerForm.invalid"
      >
        Créer votre compte
      </button>
    </form>
    <div class="options">
      <button (click)="goBack()" class="back-button">Retour</button>
      <a routerLink="/auth/login" class="register-link">S'identifier</a>
    </div>
  </div>
</div>
