.user-container {
  position:relative;
  height: 100vh !important;
  top: 4.4rem;
  height: calc(100% - 4.4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}

.user-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.89rem;
  border-radius: 0.77rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  max-width: 300px;
  margin: auto;
}

.user-card h2 {
  text-align: center;
  margin-bottom: 1.1rem;
}

.user-card .account-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}

.user-card .input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.user-card .input-error {
  color: red;
  margin-top: 0.3rem;
}

.user-card .options {
  display: flex;
  justify-content: space-between;
}

.user-card .user-button {
  margin-bottom: 0.7rem;
}

.user-card .back-button {
  color: #1a73e8;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
